:root {
    --white: #ffffff;
    --accent: #686b96;
    --link: #76AFC2;
    --link-hover: #39c6f1;
    --bg-blue: #deeaee;
    --nav-width: 180px;
    --main-padding: 10%;
    --main-padding-top: 5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("bg.png");
    background-color: var(--bg-blue);
    font-family: sans-serif;
    font-size: 16px;
}

p {
    color: var(--accent);
}

a {
    color: var(--link);
    text-decoration: none;
}

a:visited{
    color: var(--link);
}

a:hover {
    color: var(--link-hover);
}


.sidenav {
    background-color: var(--white);
    height: 100%;
    width: var(--nav-width);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 5px;
    font-size: 15px;
}

.sidenav-background {
    background-image: url("side.png");
    background-repeat: repeat-y;
    position: fixed;
    background-position: top right;
    width: calc(var(--nav-width) + 20px);
    height: 100%;
}

.sidenav-image {
    width: 100%;
    display: block;
    padding: 14px;
    opacity: .9;
    transition: filter 5s;
}

.sidenav-image:hover {
    filter: saturate(6);
}


.sidenav-title {
    overflow-wrap: break-word;
    padding-left: 24px;
    padding-right: 10px;
    padding-top: 10px;
    line-height: 18px;
}

.main {
    margin-left: calc(var(--nav-width) + 20px);
    padding-top: var(--main-padding-top);
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
    display: flex;
    flex-direction: column;
}

.semi-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-image {
    width: 280px;
    float: right;
    align-self: end;
    margin-right: 1.5rem;
    margin-bottom: -1rem;
    position: relative;
    z-index: 1;
}

.blogpost {
    padding: 12px;
    border-color: var(--accent);
    border-width: 3px;
    border-style: solid;
    background-color: var(--white);
}

.blog-icon {
    float: right;
}

.blog-title {
    display: none;
    visibility: hidden;
}

.blog-date {
    margin-bottom: 1rem;
}

.blog-preview {
    padding: 1rem;
}

.blog-preview:hover {
    filter: brightness(80%);
}

.blog-picture {
    padding: 1rem;
    max-width: 150px;
}

@media(max-width:760px){
    body {
        padding: 1rem;
    }

    .sidenav-background {
        background-image: none;
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidenav {
        width: 100%;
        height:auto;
        position: relative;
        text-align: center;
        flex-direction: column;
        float: none;
    }

    .sidenav-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
    }

    .sidenav-title {
        padding: 10px;
    }

    .main {
        margin: auto;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    #header-image {
        width: 180px;
        margin-bottom: -.62rem;
        image-rendering: pixelated;
    }
}